<h1>Welcome Home, <%= current_user.email %></h1>

<%= render @user.user_type %>

<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %> <br> <br>
<%= link_to 'Edit Profile', edit_user_registration_path %>