<h1>Employer Details</h1>
<% @users.each do |user| %>
  <div>
    <strong>Employer Username:</strong> <%= user.username %> <br>
    <strong>Employer Email:</strong> <%= user.email %> <br>
    <hr>
  </div>
<% end %>
